
:root {
    font-size: 18px;
    --primary: #80cbc4;
    --accent: #26a69a;
    --gray: #455a64;
}
body{
  font-family: 'Oxygen', sans-serif;
  /* background: url('./img/mobile.jpg') no-repeat center; */
  background: url('https://images.unsplash.com/photo-1583423842361-403513ff6b2f?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1532&q=80') no-repeat center;
  background-size: cover;
  margin: 0;
  padding: 0;
}
.home-bottom{
  color: black;
  padding-block: 13px;
  padding-inline: 13px;
  border: 2px solid var(--accent);
  background: var(--accent);
  letter-spacing: 1px;
  border-radius: .5rem;
  text-transform: uppercase;
  cursor: pointer;
}
.home-bottom:hover{
  color: #fff;
  border: 2px solid var(--gray);
  background: var(--gray);
}
/* Fin de Menu */
h1{
  font-size: 3rem;
  font-style: normal;
  font-weight: 700;
  line-height: 3rem;
  margin-block: 0;
}
h3{
  font-size: 1.8rem;
  font-style: normal;
  line-height: 2rem;
  margin-block: 0;
  color: var(--accent);

}
p{
  /* line-height: 1rem; */
  /* color: #fff; */
}
a{
  text-decoration: none;
  color: #fff;
}
/* hero    */
.hero{
  background: var(--primary);
  padding: 1rem;
}
.header-title{
  font-size: 1.5rem;
   font-weight: 800;
}
.home-group-text{
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: center;
}
.image{
  max-inline-size: 16rem;
  min-inline-size: 10rem;
  text-align: center;
}
.image img{
  width: 80%;
}
.group-column{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.group-horizontal{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
  /* margin-inline: 2rem; */
}
.home-bottom{
  flex: 0 1 150px;
  margin: 5px;
}
/* End hero    */
#home{
  /* display: inline-flex; */
  /* flex-wrap: wrap; */
}
.home-presentation{
  /* background: var(--primary); */
  padding: 1rem;
}
.wrapper{
  max-inline-size: 900px;
  margin: auto;
  background: rgba(255, 255, 255, 0.7);
  padding: 2rem;
  border-radius: 8px;
}
 /* description   */
 .description{
  padding: 2.5rem 1rem;
 }
 .subtitle{
  color: var(--accent);
 }
 .paragraph{
   color: #111;
 }
 /* End description   */

  /* footer    */
  .footer{
    background: var(--primary);
    padding: 1.7rem;
  }
  .footer-content{
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  .footer-social{
    display: flex;
    gap: 1rem;
    justify-content: center;
  }
  .social-item{
    background: var(--accent);
    letter-spacing: 1px;
    border-radius: .5rem;
    padding-block: .5rem;
    padding-inline: .5rem;
    width: 1.5rem;
    cursor: pointer;
  }

  /* End footer    */
  /* mail    */
  .description{
    /* background: rgba(0, 0, 0, 0.2);; */

  }
#mc_embed_signup {
  clear: left;
  font: 14px 'Oxygen', sans-serif;
  /* max-width: 750px; */
  width: 100%;
}
/* Mobile Styles */
@media only screen and (max-width: 720px) {
  .wrapper{
    padding: 0.5rem;
  }
  .home-group-text{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .footer{
    padding: 1rem;
  }
  .footer-content{
    display: flex;
    flex-direction: column;
  }
  .footer-content p{
    font-size: 0.7rem;
  }
}
